.wrap {
    width : 65%;
    margin : auto;
}

.title {
    width : 65%;
    margin : auto;
}

.title h1 {
    font-weight: bold;
    background: linear-gradient(to right top, #0013e0, #d701ba);
    color: transparent;
    -webkit-background-clip: text;
}

.list-right {
    width : 60%;
    height : 30%;
    float: left;
}

.list-left {
    width : 38%;
    float: right;
}

.category {
    background-color: rgb(236, 236, 236);
    height: 80px; 
}

.bucket-list {
    background-color: rgb(236, 236, 236);
    margin-top: 3%;
    height: 460px; 
}

.calender {
    background-color: rgb(236, 236, 236);
    height: 300px; 
}

.comming {
    background-color: rgb(236, 236, 236);
    margin-top: 3%;
    height: 250px; 

}